.clock {
  background-color: rgb(149, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#date {
  font-weight: 900;
}

#time {
  font-weight: 900;
  color: greenyellow;
}

.glow {
  font-size: 60px;
  color: #fff;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 10px 0 10px #fff, 0 0 20px #fff, 0 0 30px #4d6bff,
      0 0 40px #4d6bff, 0 0 50px #4d6bff, 0 0 60px #4d6bff, 0 0 70px #4d6bff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #77ff4d, 0 0 40px #77ff4d,
      0 0 50px #77ff4d, 0 0 60px #77ff4d, 0 0 70px #77ff4d, 0 0 80px #77ff4d;
  }
}

.moment {
  height: 100px;
  width: 200px;
  background-color: black;
  color: rgb(181, 16, 16);
  border: 2px solid blue;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
}
